.mycode{ 
    color: blue;
} 
.filter{
    color: orange;
} 
.zagrada{ 
    color: purple;
} 
.el{ 
    color: cyan;
} 
.zagrada2{
    color: purple;
} 
.equals{ 
    color: blue;
} 
.indexof{
 color: orange;
} 
.zagrada3{ 
    color: red;
} 
.ell{
    color: blue;
} 
.zagrada4{
color: palevioletred;
} 
.i{ 
    color: blue;
} 
.zagrada5{ 
    color: pink;
}